.DS_Store
.nimble/
.local_nimble/
nimcache/
nimblecache/
.crown/
*.exe
*.dll
.env
logs/
.venv/
.pytest_cache/
__pycache__/
*.pyc

.midnote/

# midnote tracked markdown
SPEC.md
# end midnote tracked markdown
